a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}
.search-item-rate {
	font-size: 11px;
}

.bx-blue .btn.btn-default{
	background-color: #EA5067;
	border-color: #EA5067;
}